body {
    font-size: calc(17px + 0.34vw);
    font-family: sans-serif;

    background: url(assets/backGround.jpg) no-repeat center center fixed;
    background-size: cover;

    color: white;
}

* { margin: 0px; }
* + * {
    margin-top: 0.5em;
}

.wrapper {
    text-align: center;
    margin-top: 5em;
}

button {
    background-color: #555555;
    border: none;
    text-decoration: none;
    display: inline-block;

    padding: 0.7em;
    color: inherit;
    font-size: inherit;
}

#nameInput {
    display: inline-block;
    box-sizing: border-box;

    border: none;

    padding: 0.7em;
    font-size: inherit;
}

.message {
    display: block;
}

.playerName {
    font-family: sans-serif;
    text-align: center;
    display: table;
    margin: 0.3em auto;
    padding: 0.3em;
    background-color: #555555;
}
